@font-face {
  font-family: "rick";
  src: url("../assets/fonts/fonts.woff") format("woff");
  font-weight: 300;
}
:root {
  --blue: #00b1c9;
  --blue-soft: #62a4ab;
  --green: #76a753;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.header {
  width: 80%;
}
.Header__main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header__logo h1 a {
  font-size: 44px;
  text-decoration: none;
  color: var(--blue);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--green);
  font-family: "rick";
  font-weight: 500px;
}
.Header__nav a {
  color: var(--blue);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--green);
  text-decoration: none;
  font-size: 28px;
  font-family: "rick";
  margin-right: 48px;
}
.Header__nav a:hover {
  text-decoration: underline;
}
.content {
  width: 80%;
  margin-top: 40px;
}
.Characters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 360px;
  gap: 10px;
  grid-auto-flow: row dense;
}
.Character__item {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #a9d3e9;
  border-radius: 8px;
}
.Character__item img {
  border-radius: 8px;
}
.Character__item a h2 {
  text-align: center;
  font-size: 18px;
  font-family: system-ui;
  color: #005864;
  margin-top: 4px;
}
.Character__item a {
  text-decoration: none;
}
.Characters__inner {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 360px;
  background-color: #a9d3e9;
  border-radius: 8px;
  gap: 40px;
}
.Characters__card img {
  border-radius: 8px;
  margin-left: 40px;
}
.Characters__card-info h2 {
  display: block;
  width: auto;
  font-size: 48px;
  margin-bottom: 20px;
  font-family: system-ui;
  color: var(--blue);
  background-color: white;
  border-radius: 8px;
  text-align: center;
}
.Characters__card-info {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 4px;
  font-size: 20px;
  font-family: system-ui;
}
.Characters__card-info h3 {
  font-weight: 500;
  color: #005864;
}
